<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body>
<div class="container-sm">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Rut</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Nacimiento</th>
      <th>CategoriaColegio</th>
      <th>NombreColegio</th>
      <th>Egreso</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante:${estudiantes}">
      <td th:text="${estudiante.rut}"></td>
      <td th:text="${estudiante.nombres}"></td>
      <td th:text="${estudiante.apellidos}"></td>
      <td th:text="${estudiante.fechanacimiento}"></td>
      <td th:text="${estudiante.tipocolegio}"></td>
      <td th:text="${estudiante.nombrecolegio}"></td>
      <td th:text="${estudiante.anoegreso}"></td>
      <td>
        <a class="btn btn-primary" href="#" role="button">Editar</a>
        <a class="btn btn-danger" href="#" role="button">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>